
* {
    margin: 0;
  }

  body {
      display: flex;
      flex-direction: column;
  }

h1 {
    text-align: center;
}

.chat {
    background-color: white;
}

form {
    width:auto;
}

#message-button {
   width: 100%;
   height: 200px;
   text-align: left;
   padding: 5px 5px 177px 5px;
}

#chats {
    background: white;
    height: 50vh;
    overflow: scroll;
}

.chat {
    margin: 1em;
}
/*
#friendsContainer {
    flex: 0 0 50%;
    padding: 10px;
} */
